html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
*/
* {
  font-family: 'Open Sans';
  font-weight: 400; }

button {
  font-weight: 600;
  cursor: pointer; }

h1 {
  font-family: 'Poppins';
  font-weight: 700; }

h1, h2, h3, h4, h5, h6, p {
  color: #00252e; }

html {
  margin: auto;
  max-width: 1440px; }

/*
### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
*/
body {
  display: grid;
  grid-template: minmax(min-content, 5%) minmax(min-content, 75%) minmax(min-content, 20%)/100%; }
  body header, body main, body footer {
    padding: 25px; }
  body .bg-section-desktop, body .bg-section-mobile {
    width: 100%; }
  body .bg-section-desktop {
    display: none; }
  body header {
    display: flex;
    justify-content: space-between; }
    body header img {
      width: 90px;
      height: 15px;
      align-self: center; }
    body header button {
      background-color: #FFF;
      border: solid 1px #ff8fd8;
      color: #ff8fd8;
      border-radius: 15px;
      padding: 5px 15px; }
  body main {
    text-align: center;
    font-size: 25px; }
    body main .main-content-title {
      line-height: 150%;
      margin-bottom: 10%; }
    body main p {
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
      margin-bottom: 15%; }
    body main button {
      border-radius: 40px;
      border: none;
      background-color: #ff52bf;
      color: #FFF;
      padding: 10px 40px;
      margin-bottom: 25%; }
    body main #screen-mockup {
      width: 90%;
      margin-bottom: 15%; }
    body main .main-extra-content {
      padding: 25px 0px 25px;
      display: flex;
      flex-direction: column; }
      body main .main-extra-content div {
        text-align: center; }
        body main .main-extra-content div img {
          width: 30px; }
        body main .main-extra-content div h1 {
          font-size: 60px; }
        body main .main-extra-content div h3 {
          font-size: 15px;
          font-weight: 400; }
      body main .main-extra-content div:nth-of-type(1) {
        margin-bottom: 40px; }
  body .content {
    display: flex;
    flex-direction: column;
    padding: 75px 25px; }
    body .content img {
      align-self: center;
      margin: 15px 0%;
      width: 75%; }
    body .content article {
      text-align: center; }
      body .content article h1 {
        font-size: 20px;
        margin: 5% 0%; }
      body .content article p {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 130%; }
  body .grow-together, body .your-users {
    background-color: #f5faff; }
  body #ready-to-build {
    padding: 100px 25px 100px; }
    body #ready-to-build h1 {
      font-size: 30px;
      line-height: 150%; }
    body #ready-to-build button {
      margin-top: 40px;
      border-radius: 40px;
      border: none;
      background-color: #ff52bf;
      color: #FFF;
      padding: 15px 40px; }
  body footer {
    display: grid;
    grid-template: min-content min-content min-content / 100%;
    background-color: #00252e; }
    body footer .footer-section {
      text-align: left;
      font-family: 'Open Sans';
      padding: 40px 0px; }
      body footer .footer-section p, body footer .footer-section h1, body footer .footer-section i, body footer .footer-section h4, body footer .footer-section button {
        color: #FFF; }
    body footer .newsletter {
      display: flex;
      flex-direction: column; }
      body footer .newsletter h1 {
        font-family: 'Open Sans';
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px; }
      body footer .newsletter p {
        margin: 20px 0px 20px;
        font-weight: 400;
        line-height: 150%;
        font-size: 15px; }
      body footer .newsletter input {
        height: 50px;
        border-radius: 10px;
        border: none;
        margin: 20px 0px; }
      body footer .newsletter button {
        align-self: flex-end;
        display: block;
        width: 50%;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        background-color: #ff52bf; }
    body footer .about {
      padding-bottom: 0px; }
      body footer .about img {
        width: 60%; }
      body footer .about p {
        line-height: 150%;
        font-size: 15px;
        margin-top: 15px; }
    body footer .contacts {
      padding-bottom: 0px; }
      body footer .contacts div {
        display: flex;
        padding: 10px 0px; }
        body footer .contacts div i {
          padding-right: 10px; }
      body footer .contacts nav {
        display: flex;
        width: 100px;
        justify-content: space-between;
        margin-top: 20px; }

@media screen and (min-width: 875px) {
  /*
  ### Headings
  
  - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
  - Weights: 700
  
  ### Body
  
  - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
  - Weights: 400, 600, 700
  */
  body header, body main, body footer {
    padding: 95px; }
  body header img {
    width: 200px;
    height: 35px; }
  body header button {
    border-radius: 35px;
    padding: 5px 35px; }
  body header button:hover {
    background-color: #ff8fd8;
    color: #FFF;
    background-color: #ff8fd8;
    box-shadow: 2px 2px 2px #7d7d7d; }
  body main .main-content-title {
    margin-bottom: 20px;
    font-size: 65px; }
  body main p {
    font-size: 20px;
    margin: 0px 80px 40px; }
  body main button {
    height: 60px;
    width: 300px;
    margin-bottom: 65px; }
  body main #screen-mockup {
    width: 80%;
    margin-bottom: 30px; }
  body main .main-extra-content {
    flex-direction: row;
    justify-content: space-around; }
    body main .main-extra-content div img {
      width: 45px; }
    body main .main-extra-content div h1 {
      font-size: 75px; }
    body main .main-extra-content div h3 {
      font-size: 25px; }
  body main .get-started:hover {
    background-color: #ff8fd8;
    box-shadow: 2px 2px 2px #7d7d7d; }
  body .bg-section-desktop {
    display: block; }
  body .bg-section-mobile {
    display: none; }
  body .content {
    padding: 25px 100px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    body .content img {
      order: 1;
      margin: 0px;
      width: 50%; }
    body .content article {
      text-align: left; }
      body .content article h1 {
        font-size: 35px;
        margin: 5% 0%; }
      body .content article p {
        font-size: 15px; }
  body #ready-to-build {
    text-align: center; }
    body #ready-to-build button {
      border-radius: 35px;
      padding: 5px 35px;
      height: 60px;
      width: 300px; }
    body #ready-to-build .get-started:hover {
      background-color: #ff8fd8;
      box-shadow: 2px 2px 2px #7d7d7d; }
  body footer {
    grid-template: min-content min-content / 1fr 1fr;
    column-gap: 100px; }
    body footer .about {
      order: -1; }
    body footer button:hover {
      background-color: #ff8fd8;
      box-shadow: 2px 2px 1px #000000; } }
