/*
### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700
*/

body {
    display: grid;
    grid-template: minmax(min-content, 5%) minmax(min-content, 75%) minmax(min-content,20%) / 100%;

    header, main, footer {
        padding: 25px;
    }

    .bg-section-desktop {
        display: none;
    }


    header {
        display: flex;
        justify-content: space-between;

        img {
            width: 90px;
            height: 15px;
            align-self: center;
        }

        button {
            background-color: #FFF;
            border: solid 1px $lightPink;
            color: $lightPink;
            border-radius: 15px;
            padding: 5px 15px;
        }

    }

    main {
        text-align: center;

        font-size: 25px;
        .main-content-title {
            line-height: 150%;
            margin-bottom: 10%;

        }
        p {
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
            margin-bottom: 15%;
        }
        button {
            border-radius: 40px;
            border: none;
            background-color: $pinkColor;
            color: #FFF;
            padding: 10px 40px;
            margin-bottom: 25%;
        }
        #screen-mockup {
            width: 90%;
            margin-bottom: 15%;
        }            
        div {
            text-align: center;
            img {
                width: 30px;
            }
            h1 {
                font-size: 60px;
                margin: 20px 0px;
            }
            h3 {
                font-size: 15px;
                font-weight: 400;
            }
        }
        div:nth-of-type(1) {
            margin: 25px 25px 70px;
        }
        div:nth-of-type(2) {
            margin: 0px 25px;
        }
    }

    .content {
        padding: 75px 25px;
        text-align: center;
        img {
            margin: 15px 0%;
            width: 75%;
        }
        h1 {
            font-size: 20px;
            margin: 5% 0%;
        }
        p {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 15px;
            line-height: 130%;
        }
    }
    .grow-together, .your-users {
        background-color: $veryPaleBlue;
    }

    #ready-to-build {
        padding: 100px 25px 100px;

        h1 {
            font-size: 30px;
            line-height: 150%;
        }

        button {
            margin-top: 40px;
            border-radius: 40px;
            border: none;
            background-color: $pinkColor;
            color: #FFF;
            padding: 15px 40px;
        }
    }

    footer {
        background-color: $veryDarkCyan;

        .footer-section {
            text-align: left;
            font-family: 'Open Sans';
            p, h1, i, h4, button {
                color: #FFF;
            }
            padding: 40px 0px;

        }
        .newsletter {
            display: flex;
            flex-direction: column;

            h1 {
                font-family: 'Open Sans';
                font-weight: 600;
                text-transform: uppercase;
                font-size: 20px;
            }

            p {
                margin: 20px 0px 20px;
                font-weight: 400;
                line-height: 150%;
                font-size: 15px;
            }

            input {
                height: 50px;
                border-radius: 10px;
                border: none;
                margin: 20px 0px;
            }

            button {
                align-self: flex-end;
                display: block;
                width: 50%;
                height: 50px;
                border-radius: 10px;
                border: none;
                font-size: 15px;
                background-color: $pinkColor;
            }
        }

        .about {
            padding-bottom: 0px;
            img {
                width: 60%;
            }
            p {
                line-height: 150%;
                font-size: 15px;
                margin-top: 15px;
            }
        }

        .contacts {
            padding-bottom: 0px;
            div {
                display: flex;
                padding: 10px 0px;

                i {
                    padding-right: 10px;
                }
            }

            nav {
                display: flex;
                width: 40%;
                justify-content: space-between;
                margin-top: 20px;
            }
        }
    }
}